@font-face {
    font-family: "RB-regular";
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: "RB-bold";
    src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: "RB-light";
    src: url(../fonts/Roboto-Light.ttf);
}